@import url('https://fonts.googleapis.com/css2?family=Jacquard+12&family=Rubik+Wet+Paint&display=swap');

.border-pane {
    -fx-background-color: red;
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover;
    -fx-background-position: center center;
    -fx-min-width: 800px;
    -fx-min-height: 600px;
}

.button{
    -fx-font-family: "Jacquard 12";
    -fx-font-size: 40px;
    -fx-font-weight: "bold";
}


.label-hover:hover{
    -fx-opacity: 1;
    -fx-text-fill: white;
    -fx-effect: dropshadow(three-pass-box, rgba(125, 52, 52), 3, 5, 0, 0);
}

.label-hover {
    -fx-text-fill: white;
    -fx-effect: none;
}

.cell{

    -fx-fill: transparent;
}


